.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Quick Links
    %li= link_to "Events", events_path
    %li= link_to "Questionnaires", questionnaires_path
    %li= link_to "Contacts", contacts_path

  %ul.nav.nav-list
    %li.nav-header Active Questionnaires
    %li= link_to "Instances", instances_path
