.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar
    %li
      = link_to events_path do
        %i{ class: 'glyphicon glyphicon-calendar'}
        Events
    %li
      = link_to questionnaires_path do
        %i{ class: 'glyphicon glyphicon-question-sign'}
        Questionnaires
    %li
      = link_to contacts_path do
        %i{ class: 'glyphicon glyphicon-user'}
        Contacts
    %li
      = link_to instances_path do
        %i{ class: 'glyphicon glyphicon-th-large'}
        Instances
